POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_DB=warehouse_db
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_PORT=5432
API_GATEWAY_PORT=8090
DB_HOST=postgres
SUPPLIER_SERVICE_URL=http://supplier-service:8084
LOCATION_SERVICE_URL=http://location-service:8082
INVENTORY_SERVICE_URL=http://inventory-service:8083
STAFF_SERVICE_URL=http://staff-service:8085
EQUIPMENT_SERVICE_URL=http://equipment-service:8086
HEAVY_CARGO_THRESHOLD_KG=1000
